$form-label-font-size: 0.875rem !default;

$form-field-height: 3rem !default;
$form-field-line-height: 1.5rem !default;
$form-field-font-size: 1rem !default;
$form-field-padding-v: 0.75rem !default;
$form-field-padding-h: 1rem !default;
$form-field-text-color: $text-color !default;
$form-field-active-border-color: $link-color !default;

$form-hint-font-size: 0.75rem !default;
$form-hint-padding: 0.375rem 1rem !default;
