$moment-picker-segment-labels-padding: 0.75rem 2.5rem !default;
$moment-picker-segment-label-padding: 0.25rem 0.75rem !default;
$moment-picker-segment-label-margin: 0.25rem !default;
$moment-picker-segment-label-font-size: 0.875rem !default;

$moment-picker-segment-arrow-position-v: -3rem !default;
$moment-picker-segment-arrow-position-h: 0 !default;

$moment-picker-segment-item-height: 3rem !default;
