<%= content_tag component.tag_name, component.html_options do %>
  <div class="hours">
    <div class="morning-hours">
      <% (0..11).each do |hour| %>
        <%= link_to hour, 'javascript:;', class: 'hour', data: {hour: hour} %>
      <% end %>
    </div>
    <div class="afternoon-hours">
      <% (12..23).each do |hour| %>
        <%= link_to hour, 'javascript:;', class: 'hour', data: {hour: hour} %>
      <% end %>
    </div>
  </div>
<% end %>
