<%= content_tag 'tao-checkbox', nil, component.html_options do %>

  <% if block_given %>
    <%= yield %>
  <% else %>
    <%= component.builder.check_box component.attribute_name, component.options, component.checked_value, component.unchecked_value %>
  <% end %>

  <div class="checkbox-wrapper" tabindex="0">
    <%= tao_icon :checkbox %>
    <div class="icon icon-indeterminate"></div>
  </div>

<% end %>
