<%= content_tag component.tag_name, nil, component.html_options do %>

  <%= yield %>

  <div class="checkbox-wrapper" tabindex="0">
    <%= tao_icon :checkbox %>
    <div class="icon icon-indeterminate"></div>
  </div>

<% end %>
