<%= content_tag 'tao-checkbox', nil, component.options do %>

  <%= yield %>

  <div class="checkbox-wrapper" tabindex="0">
    <%= tao_icon :checkbox %>
    <div class="icon icon-indeterminate"></div>
  </div>

<% end %>
