<%= content_tag 'tao-radio', nil, component.html_options do %>

  <% if block_given %>
    <%= yield %>
  <% else %>
    <%= component.builder.radio_button component.attribute_name, component.options, component.checked_value, component.unchecked_value %>
  <% end %>

  <div class="radio-wrapper" tabindex="0">
    <div class="icon icon-radio"></div>
  </div>

<% end %>
