<%= content_tag 'tao-switch', nil, component.html_options do %>

  <%= component.builder.check_box component.attribute_name, component.options, component.checked_value, component.unchecked_value %>

  <div class="switch-wrapper">
    <div class="switch-toggle"></div>
  </div>

<% end %>
