<%= content_tag component.tag_name, nil, component.html_options do %>

  <%= yield %>

  <div class="switch-wrapper" tabindex="0">
    <div class="switch-toggle"></div>
    <div class="switch-slot"></div>
  </div>

<% end %>
