$moment-picker-segment-labels-padding: 0.5rem 2.5rem !default;
$moment-picker-segment-label-padding: 0.125rem 0.5rem !default;
$moment-picker-segment-label-margin: 0.25rem !default;
$moment-picker-segment-label-font-size: 0.75rem !default;

$moment-picker-segment-arrow-position-v: -2.5rem !default;
$moment-picker-segment-arrow-position-h: -0.5rem !default;

$moment-picker-segment-item-height: 2.125rem !default;
