.tao-check-box {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  outline: none;

  .checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px #9B9B9B solid;
    border-radius: 2px;
    height: 1rem;
    width: 1rem;
    transition: border-color 200ms, background 200ms;
    outline: none;

    .icon {
      display: none;
      height: 0.75rem;
      width: 0.75rem;
      fill: #ffffff;

      &.icon-indeterminate {
        width: 10px;
        height: 2px;
        border-radius: 1px;
        background: #ffffff;
      }
    }
  }

  input[type=checkbox] {
    display: none;

    &:indeterminate + .checkbox-wrapper,
    &:checked + .checkbox-wrapper {
      background-color: #55BB33;
      border-color: #55BB33;
    }

    &:indeterminate + .checkbox-wrapper .icon-indeterminate,
    &:checked + .checkbox-wrapper .icon-check {
      display: block;
    }

    &:disabled + .checkbox-wrapper {
      border: 1px #DDDDDD solid;
      background-color: #F6F6F6;

      .icon {
        fill: #dddddd;
      }

      .icon-indeterminate {
        background: #dddddd;
      }
    }
  }
}
