@import '../../globals';
@import './segments/date_segment';
@import './segments/hour_segment';
@import './segments/minute_segment';
@import './segments/month_segment';
@import './segments/year_segment';
@import './result';
@import './segment_list';

.tao-moment-picker {
  display: inline-block;
  width: $form-field-width;
  position: relative;
}
