<%= content_tag component.tag_name, nil, component.html_options do %>
  <%= yield %>
  <%= link_to 'javascript:;', class: 'link-add' do %>
    <span class="icon-add">&#65291;</span>
    <%= component.t(:add) %>
  <% end %>
<% end %>
