@import './list';
@import './result';
@import './multiple_result';

.tao-select {
  display: inline-block;

  .select-result-delegate {
    display: flex;
    align-items: center;

    select {
      display: none;
    }

    .placeholder,
    .selected-text {
      flex: 1 1 auto;
      padding: $form-field-padding-v 0;
      font-size: $form-field-font-size;
      line-height: $form-field-line-height;
      min-height: $form-field-height - 0.125rem;
    }

    .placeholder {
      color: $lightest-grey-color;
    }

    .selected-text {
      color: $form-field-text-color;
      display: none;
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      width: 2em;
      height: $form-field-height;
      fill: $lightest-grey-color;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &[disabled] .select-result-delegate {
    .selected-text {
      color: $lightest-grey-color;
    }
  }

  &[selected] .select-result-delegate {
    .placeholder {
      display: none;
    }

    .selected-text {
      display: block;
    }
  }

  .tao-slide-box .slide-box-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header, .select-result, .buttons {
      flex: 0 0 auto;
    }

    .select-list {
      flex: 1 1 auto;
    }
  }
}
